/************************************
Common Styles
************************************/

.column, .columns {
  margin-left: 4%;
}

.navbar, .header, .banner {
  background-color: #f9f9f9;
}

.navbar {
  padding-left: 10px;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}

.header {
  padding-top: 10px;
}

/************************************
Home Styles
************************************/

.home-container {
  margin-right: 4%;
}

.banner {
  border: 1px solid #DDD;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.banner p {
  margin-bottom: 0;
}

.homearticle h4 {
  border: 1px solid;
  margin: 10px;
  padding: 0 10px 0 10px;
}

.homearticle p {
  margin: 10px;
}

.leftarticlegroup {
  background-color: #F5FFFA;
  border: 1px solid #CEF2E0;
}

.leftarticlegroup h4 {
  background-color: #CEF2E0;
  border-color: #A3BFB1;
}

.rightarticlegroup {
 background-color: #F5FAFF;
 border: 1px solid #CEDFF2;
}

.rightarticlegroup h4 {
  background-color: #CEDFF2;
  border-color: #A3B0BF;
}

/*.searchButton {
  background-image: url('./../images/searchIcon.png');
}*/

/************************************
Article Styles
************************************/

.article-container {
  margin-right: 4%;
}
.article-title, .subheading {
  border-bottom: 1px solid #AAA;
  overflow: hidden;
}

.imgContainer {
  margin: 7px 0 18px 20px;
  padding: 3px;
  border: 1px solid #CCC;
}