/************************************
Common Styles
************************************/

.column, .columns {
  margin-left: 4%;
}

.navbar, .header, .banner {
  background-color: #f9f9f9;
}

.navbar {
  padding-left: 10px;
  width: 100%;
}

.navbar li {
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}

.header {
  padding-top: 10px;
  height: 100px;
}

/************************************
Home Styles
************************************/

.home-container {
  margin-right: 4%;
}

.banner {
  border: 1px solid #DDD;
  margin: 10px 0 10px 0;
  padding: 10px;
}

.banner p {
  margin-bottom: 0;
}

.homearticle h4 {
  border: 1px solid;
  margin: 10px;
  padding: 0 10px 0 10px;
}

.homearticle p {
  margin: 10px;
}

.leftarticlegroup {
  background-color: #F5FFFA;
  border: 1px solid #CEF2E0;
}

.leftarticlegroup h4 {
  background-color: #CEF2E0;
  border-color: #A3BFB1;
}

.rightarticlegroup {
 background-color: #F5FAFF;
 border: 1px solid #CEDFF2;
}

.rightarticlegroup h4 {
  background-color: #CEDFF2;
  border-color: #A3B0BF;
}

.homeSectionContent {
  padding: 0 10px 0 10px;
}

.editPoem {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  margin-bottom: 0; 
}
/*.homeImgContainer {
  margin: 7px 0 18px 20px;
  padding: 3px;
}*/

/*.searchButton {
  background-image: url('./../images/searchIcon.png');
}*/

/************************************
Article Styles
************************************/

.article-container {
  margin-right: 4%;
}
.article-title, .subheading {
  border-bottom: 1px solid #AAA;
  overflow: hidden;
}

.imgContainer {
  margin: 7px 0 18px 20px;
  padding: 3px;
  border: 1px solid #CCC;
}

.imgContainer img {
  display: table;
}

.caption {
  display: table-caption;
  caption-side: bottom;
  width: 275%;
  font-size: 0.9em;
  margin: 3px;
  padding: 3px;
}

#userPoem {
  border: 1px solid #888;
  outline: none;
  width: 40%; 
}

.generate {
  margin-top: 15px;
}
/************************************
Spinner Styles
************************************/

.loading {
  margin-top: -15%;
}
@media (min-width: 708px) {
  .message {
    font-size: 20px;
    padding-left: 10%;
  }
}
@media (min-width: 863px) {
  .message {
    font-size: 23px;
    padding-left: 10%;
  }
}
@media (min-width: 924px) {
  .message {
    font-size: 28px;
    padding-left: 10%;
  }
}
@media (min-width: 925px) {
  .message {
    font-size: 2em;
    padding-left: 10%;
  }
}

@media (min-width: 1386px) {  
  .message {
    font-size: 3em;
    padding-left: 10%;
  }

